{
  "root": true,
  "extends": ["prettier", "eslint:recommended"],
  "env": {
    "node": true,
    "es6": true,
    "amd": true,
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-extra-boolean-cast": [0],
    "no-console": [0],
    "linebreak-style": ["error", "unix"],
    "no-empty":0,
    "no-restricted-imports": [0],
    "mocha/no-exclusive-tests": "error"
  }
}

